/*******************
VARIABLES
********************/
// COLORS
$color-branding-primary: #6d0ad3;
$color-branding-secondary: #00cf95;
$color-branding-third: #0098ef;
$color-branding-four: #d1ffa2;

// FONT SIZE
// FONT FAMILY
// MARGIN
// PADDING