/*******************
VARIABLES
********************/
/*
GLOBALES
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.3rem;
  font-family: "Raleway";
  color: #262626;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3 {
  font-weight: bold;
  font-family: "Poppins";
  line-height: 100%;
}

.wrapper {
  max-width: 960px;
  margin: auto;
}

main > section {
  margin-bottom: 100px;
}

/*
HEADER
*/
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 0;
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
}

.header li {
  margin-left: 20px;
  position: relative;
}

.header li:first-child {
  margin-left: 0;
}

.header a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-weight: bold;
}

.header a:hover {
  color: #437567;
}

.header a:hover::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  width: 4px;
  height: 4px;
  margin-left: -2px;
  background-color: #437567;
  border-radius: 100%;
}

.header li.is-active a {
  color: #832fda;
  cursor: default;
}

.header li.is-active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 4px;
  background-color: #832fda;
  border-radius: 20px;
}

.header .logo {
  position: relative;
  width: 42px;
  height: 42px;
}

.header .logo div {
  position: absolute;
  width: 42px;
  height: 42px;
  left: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .logo .layer-four {
  background-color: #d1ffa2;
  left: -5px;
}

.header .logo .layer-three {
  background-color: #0098ef;
  left: -10px;
}

.header .logo .layer-two {
  background-color: #00cf95;
  left: -15px;
}

.header .logo .layer-one {
  background-color: #6d0ad3;
  left: -20px;
}

.header .logo img {
  position: absolute;
  left: 5px;
  top: 5px;
}

/*
PORTFOLIO
*/
.portfolio .article {
  width: 224px;
  height: 220px;
  border: 4px solid #d1ffa2;
  color: white;
  position: relative;
  border-radius: 20px;
}

.portfolio .article img {
  display: block;
  border-radius: 15px;
}

.portfolio .article h2 {
  font-size: 18px;
  margin-bottom: 10px;
}

.portfolio .article p {
  font-size: 13px;
  line-height: 1.5;
}

.portfolio .article div {
  position: absolute;
  background: rgba(109, 10, 211, 0.8);
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  /* width: 100%; */
  padding: 20px;
  border-radius: 20px;
  display: none;
}

.portfolio .article ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
  margin-left: -2px;
  margin-right: -2px;
}

.portfolio .article li {
  color: #580aaf;
  background: #d1ffa2;
  font-size: 11px;
  /* display: inline-block; */
  padding: 2px 8px;
  border-radius: 8px;
  margin-bottom: 10px;
  margin-left: 2px;
  margin-right: 2px;
}

.portfolio .article li:hover {
  background: orange;
  color: white;
}

.portfolio .article:hover {
  border-color: #580aaf;
  cursor: pointer;
}

.portfolio .article:hover div {
  display: block;
}

.portfolio .portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}
/*# sourceMappingURL=portfolio.css.map */